.CharacterCreationForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 18%;
    top: 200px;
    z-index: 10;
    background-color:  rgba(0, 0, 0, 0.767);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 1.8;
    font-weight:  900;
    color: rgb(206, 91, 25);
}

.inputForCreateCharacrer {
    text-align: center;
    height: 20px;
    font-size: 16px;
    padding: 5px;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.butonCreateCharacter {
    margin-top: 10px;
    font-weight: 600;
    background-color: rgb(206, 91, 25);
    padding: 5px;
    width: 150px;
    border-radius: 10px;
}

.smsForCreateCharacrer{
    position: absolute;
    flex-direction: column;
    width: auto;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    align-items: center;
    padding: 10px;
    top: 40%;
    left: 19%;
    color: rgb(206, 91, 25);
    font-size: 20px;
    line-height: 1.8;
    font-weight:  900;
}