.buttonOpenListDungeon {
    position: absolute;
    right: 20px;
    top: 50px;
}

.displaOF {
    display: none;
}

.zIndex {
    z-index: 2;
}

.dungeonList {
    position: absolute;
    right: 10px;
    top: 50px;
    color: aliceblue;
}

.dungeon {
    display: flex;
    flex-direction: column;
}

.activeDungeon {
    position: absolute;
    top: 50px;
    left: 40%;
}