.boxNameUndLavel {
    background: linear-gradient(to top, black, transparent);
    padding: 5px 15px;
    /* border-radius: 8px; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 70px;
}

/* Стили для имени и уровня */
.boxNameUndLavel p {
    color: #FFD700; /* Золотистый цвет для имени */
    font-size: 20px;
    margin: 5px 0;
}

.boxNameUndLavel .texStyleHeader {
    color: #fff; 
}