

.header {
    height: 100px;
    width: 100%;
    background: linear-gradient(to bottom, black, transparent);
    /* background-color: rgba(0, 0, 0, 0.699); */
    position: absolute;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(206, 91, 25);
}

.headerText {
    position: absolute;
    top: 20px;
}

.boxNameUndLavel {
    background: linear-gradient(to top, black, transparent);
    padding: 5px 15px;
    /* border-radius: 8px; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 70px;
}

/* Стили для имени и уровня */
.boxNameUndLavel p {
    color: #FFD700; /* Золотистый цвет для имени */
    font-size: 20px;
    margin: 5px 0;
}

.boxNameUndLavel .texStyleHeader {
    color: #fff; 
}

.navigate-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.navigate-button:hover {
    background-color: #0056b3;
}