.fulBodiDungeons {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.buttonDunght-1-10 {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.377);
    margin-top: 40px;
}

.dungeon-list {
    width: 80%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.425);
}

.dangeonName {
    color: rgb(214, 86, 35);
    font-size: 18px;
}